<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>authenticatingServerBaseUrl</key>
        <string>https://authn.sd00.worldcat.org/oauth2</string>
        <key>wskey</key>
        <string></string>
        <key>authenticatingInstitutionId</key>
        <string></string>
        <key>contextInstitutionId</key>
        <string></string>
        <key>redirectUrl</key>
        <string></string>
        <key>scopes</key>
        <string></string>
        <key>responseType</key>
        <string>token</string>
    </dict>
</plist>
